@import 'src/_vars.scss';

.sidebar {
    background: linear-gradient(45deg, $lighter-blue, $dark-gradient-blue);
    color: white;
    position: relative;
    height: 100vh;
    max-width: 350px;
    min-width: 250px;
}