@import 'src/_vars.scss';

.navbar {
    height: 60px;
    padding: 10px 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: white;
    color: $dark-text;
    z-index: 10;
    position: relative;

    .grid-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .navbar-title {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        cursor: pointer;


        .navbar-logo {
            mask: url('../../assets/images/logo.svg') no-repeat center;
            -webkit-mask: url('../../assets/images/logo.svg') no-repeat center;
            background: $highlight-gradient;
            width: 30px;
            height: 100%;
            transform: rotate(45deg);
            margin-right: 5px;
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > *:not(:first-child) {
            margin-left: 10px;
        }
    }
}