@import 'src/_vars.scss';

.navbar {
    height: 60px;
    padding: 10px 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: white;

    .grid-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .navbar-title {
        color: $highlight;
        font-weight: bold;
        font-size: 26px;
    }

    .right {
        color: #3A3A3A;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > *:not(:first-child) {
            margin-left: 10px;
        }
    }
}