@import 'src/_vars.scss';

.banner {
    background: url('../../../../assets/images/lowpoly.png');
    background-position: center;
    background-size: cover;
    margin: auto;
    color: white;
    padding: 120px 0px;
    font-size: 28px;
    font-weight: lighter;

    .banner-title {
        font-weight: 400;
    }

    .banner-text {
        font-size: 19px;
    }
}