@import 'src/_vars.scss';


.table {
  background-color: $byte-bg;

  .banner {
    background: linear-gradient(45deg, darken($dark-text, 10), lighten($dark-text, 10));
  
    padding-top: 90px;
    padding-bottom: 90px;

    .banner-title {
      position: relative;
      display: inline-block;
      margin-bottom: 5px;
    }

    .banner-text {
      color: lighten($highlight, 45);
      opacity: 0.7;
    }
  }

  & > .grid-inner {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;

    &.nextByte {
      padding: 0;
    }
  }

  .table-bar {
    padding: 10px 10px 15px;
    margin-top: -45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .table-bar-section {
      display: flex;
      flex-direction: r0o;
      justify-content: flex-start;

      .table-bar-item {
        color: white;
        opacity: 0.9;
        cursor: pointer;
        position: relative;

        &:hover, &.active {

          &:after {
            content: '';
            background: white;
            height: 6px;
            width:100%;
            position: absolute;
            bottom: -13px;
            left: 0;
          }
        }

        i {
          margin-right: 7px;
        }

        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  .table-next-byte {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px; right: 20px;

    .table-next-byte-image {
      width: 240px;
      height: 170px;
      background-size: cover;
      background-position: center;
      border-radius: 2px;

      .table-next-byte-name {
        color: white;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.7);
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        bottom: 0;
        position: absolute;
        width: 100%;
      } 

      &:before {
        content: '';
        background: white;
        width: 25px;
        height: 25px;
        mask: url('../../assets/images/play-button.svg') center no-repeat;
        -webkit-mask: url('../../assets/images/play-button.svg') center no-repeat;
        position: absolute;
        top: 0; bottom: 20px;
        left: 6px; right: 0;
        margin: auto;
        z-index: 2;
      }

      &:after {
        content: '';
        width: 60px;
        height: 60px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        position: absolute;
        top: 0; left: 0; bottom: 20px; right: 0;
        margin: auto;
        z-index: 1;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.tag {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  min-width: 3rem;
  padding: 2px 6px;
  text-align: center;
  box-sizing: border-box;
}