$dark-blue: #191927;
$dark-gradient-blue: #212239;
$lighter-blue: #31324e;
$highlight: #00b3ff;
$highlight-gradient: linear-gradient(45deg, darken($highlight, 15), lighten($highlight, 15));
$byte-bg: #e5eef2;