@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import '_vars.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: $byte-bg;
}

.grid-inner {
  width: 100%;
  max-width: $max-width;
  margin: auto;
}